<a href="https://colab.research.google.com/github/Kondasagar/ML-algorithm-on-Titanic_data-/blob/main/Titanic_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importing important libraries
import numpy as np
import pandas as pd

In [2]:
# loading the titanic data set
train_data=pd.read_csv('/content/train.csv')
test_data=pd.read_csv('/content/test.csv')

In [3]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
# paasenger id,cabin, Ticket are not useful for our prediction
df_train=train_data.drop(['Cabin','Ticket'],axis=1)
df_test=test_data.drop(['Cabin','Ticket'],axis=1)

In [6]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Fare         891 non-null    float64
 9   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(3)
memory usage: 69.7+ KB

In [7]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Fare         417 non-null    float64
 8   Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 29.5+ KB

In [8]:
df_train['Name'].str.extract('([A-Za-z]+)\.',expand=False)

0        Mr
1       Mrs
2      Miss
3       Mrs
4        Mr
       ...
886     Rev
887    Miss
888    Miss
889      Mr
890      Mr
Name: Name, Length: 891, dtype: object

In [9]:
df_train['title']=df_train['Name'].str.extract('([A-Za-z]+)\.',expand=False)
df_test['title']=df_train['Name'].str.extract('([A-Za-z]+)\.',expand=False)

In [10]:
df_train['title'].value_counts()

Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Mlle          2
Major         2
Col           2
Countess      1
Capt          1
Ms            1
Sir           1
Lady          1
Mme           1
Don           1
Jonkheer      1
Name: title, dtype: int64

In [11]:
df_test['title'].value_counts()

Mr        228
Miss      101
Mrs        58
Master     23
Rev         3
Dr          3
Don         1
Mme         1
Name: title, dtype: int64

In [12]:
df_train['title']=df_train['title'].replace(['Dr','Rev','Major','Col','Countess',
                                             'Capt','Sir','Lady','Don','Jonkheer'],'Rare')

df_train['title']=df_train['title'].replace(['Ms','Mlle','Mme'],'Mrs')

df_test['title']=df_test['title'].replace(['Rev','Dr','Don'],'Rare')
df_test['title']=df_test['title'].replace(['Mme'],'Mrs')

In [13]:
df_test['title'].value_counts()

Mr        228
Miss      101
Mrs        59
Master     23
Rare        7
Name: title, dtype: int64

In [14]:
df_train['title'].value_counts()

Mr        517
Miss      182
Mrs       129
Master     40
Rare       23
Name: title, dtype: int64

In [15]:
df_train[['title','Survived']].groupby(['title']).mean().sort_values(by='Survived')

        Survived
title
Mr      0.156673
Rare    0.347826
Master  0.575000
Miss    0.697802
Mrs     0.798450

In [16]:
df_train['title']=df_train['title'].map({'Mr':1,'Miss':2,'Mrs':3,'Master':4, 'Rare':5})
df_test['title']=df_test['title'].map({'Mr':1,'Miss':2,'Mrs':3,'Master':4, 'Rare':5})

df_train['Sex']=df_train['Sex'].map({'male':0,'female':1})
df_test['Sex']=df_test['Sex'].map({'male':0,'female':1})

In [17]:
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,title
0,892,3,"Kelly, Mr. James",0,34.5,0,0,7.8292,Q,1
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",1,47.0,1,0,7.0000,S,3
2,894,2,"Myles, Mr. Thomas Francis",0,62.0,0,0,9.6875,Q,2
3,895,3,"Wirz, Mr. Albert",0,27.0,0,0,8.6625,S,3
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,22.0,1,1,12.2875,S,1

In [18]:
df_train.drop('Name',axis=1,inplace=True)
df_test.drop('Name',axis=1,inplace=True)

In [19]:
df_train.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,title
0,1,0,3,0,22.0,1,0,7.2500,S,1
1,2,1,1,1,38.0,1,0,71.2833,C,3
2,3,1,3,1,26.0,0,0,7.9250,S,2
3,4,1,1,1,35.0,1,0,53.1000,S,3
4,5,0,3,0,35.0,0,0,8.0500,S,1

In [20]:
df_test.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare Embarked  title
0          892       3    0  34.5      0      0   7.8292        Q      1
1          893       3    1  47.0      1      0   7.0000        S      3
2          894       2    0  62.0      0      0   9.6875        Q      2
3          895       3    0  27.0      0      0   8.6625        S      3
4          896       3    1  22.0      1      1  12.2875        S      1

In [21]:
df_train['Embarked']=df_train['Embarked'].map({'S':1,'Q':2,'C':3})
df_test['Embarked']=df_test['Embarked'].map({'S':1,'Q':2,'C':3})

In [22]:
df_train['Fam_Siz']=df_train['SibSp']+df_train['Parch']+1
df_test['Fam_siz']=df_test['SibSp']+df_test['Parch']+1

In [23]:
df_train=df_train.drop(['SibSp','Parch'],axis=1)
df_test=df_test.drop(['SibSp','Parch'],axis=1)

In [24]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    int64
 4   Age          714 non-null    float64
 5   Fare         891 non-null    float64
 6   Embarked     889 non-null    float64
 7   title        891 non-null    int64
 8   Fam_Siz      891 non-null    int64
dtypes: float64(3), int64(6)
memory usage: 62.8 KB

In [25]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    int64
 3   Age          332 non-null    float64
 4   Fare         417 non-null    float64
 5   Embarked     418 non-null    int64
 6   title        418 non-null    int64
 7   Fam_siz      418 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 26.2 KB

In [26]:
df_train['Age'].median()

28.0

In [27]:
df_test["Age"].fillna(df_train['Age'].median(),inplace=True)

In [28]:
df_train["Age"].fillna(df_train['Age'].median(),inplace=True)

In [29]:
df_train["Embarked"].fillna(df_train['Embarked'].mode()[0],inplace=True)

In [30]:
df_test['Fare'].fillna(df_train['Fare'].median(),inplace=True)

In [31]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    int64
 3   Age          418 non-null    float64
 4   Fare         418 non-null    float64
 5   Embarked     418 non-null    int64
 6   title        418 non-null    int64
 7   Fam_siz      418 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 26.2 KB

In [32]:
X=df_train.drop('Survived',axis=1)
y=df_train['Survived']
X_testset=df_test
X.head()

   PassengerId  Pclass  Sex   Age     Fare  Embarked  title  Fam_Siz
0            1       3    0  22.0   7.2500       1.0      1        2
1            2       1    1  38.0  71.2833       3.0      3        2
2            3       3    1  26.0   7.9250       1.0      2        1
3            4       1    1  35.0  53.1000       1.0      3        2
4            5       3    0  35.0   8.0500       1.0      1        1

In [44]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=20)

In [45]:
from sklearn.linear_model import LogisticRegression
logreg= LogisticRegression(max_iter=300)
logreg.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression(max_iter=300)

In [46]:
logreg.score(X_train,y_train)

0.8202247191011236

In [47]:
logreg.score(X_test,y_test)

0.8097014925373134

In [48]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(max_depth=3)
rfc.fit(X_train,y_train)

RandomForestClassifier(max_depth=3)

In [49]:
rfc.score(X_train,y_train)

0.8330658105939005

In [50]:
rfc.score(X_test,y_test)

0.835820895522388

In [51]:
y_pred_test = rfc.predict(X_testset)
y_pred_test.shape

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Fam_siz
Feature names seen at fit time, yet now missing:
- Fam_Siz

  warnings.warn(message, FutureWarning)

(418,)

In [52]:
output = pd.DataFrame({'PassengerId': df_test.PassengerId, 'Survived': y_pred_test})
output.to_csv('titanic_submission.csv', index=False)

In [53]:
output.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         0